<%if current_page?(categories_path)%>
<a href=<%=category_path(category.id) %>>
    <div class="categoryCard__index">
        <%= image_tag (category.icon), height: '90', width: '90'%>
        <p><%= category.name %></p>
        <p>$<%= category.entities.map {|entity| entity.amount}.sum %></p>
    </div>
</a>
<%else%>
    <div class="categoryCard_show">
        <p><%= category.name %></p>
        <p>$<%= category.entities.map {|entity| entity.amount}.sum %></p>
    </div>
<%end%>