<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="desktop-only">
      <h1>Sorry! We are working in the desktop version. Try by looging through your phone. </h1>
    </div>
    <div class="mobile-only">
      <%= render "shared/navbar" unless current_page?("/") %> 
      <%= yield %>
    </div>
  </body>
</html>
